<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is home page</h1>
    <h2>Author : {{author}} </h2>
    <h2>Age : {{age}} </h2>
    <h2>List : {{lst}} </h2>

    <!-- conditional statement -->
    
    {% if age >= 20 %}
    <h4>you will get driving licsence</h4>
    {% elif age >= 10 and age <= 19 %}
    <h4>yo'll not get licsence</h4>
    {% else %}
    <h4>you are a child</h4>
    {% endif %}
    
    <!-- for loot -->
    {% for i in lst %}
    <h4> {{i}} </h4>
    {% endfor %}
</body>
</html>